<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/home/css/pay_info1.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/home/css/alert.css" media="all">
		<title>《e达生活协议》</title>
	</head>
	<body>
		<div class="content">
			<p style="text-align: center;font-size: 1.5rem;font-weight:600;margin-bottom: 10px;">用户协议</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">1.概述</p>
			<p style="text-align: left;margin-bottom: 10px">1-1为保护用户合法权益，维护公开透明、公平有序的平台交易秩序，降低用户交易成本，提升用户体验，特依据法律法规及平台与用户签署的各项协议，制定平台用户规则</p>
			<p style="text-align: left;margin-bottom: 10px">1-2用户应遵守国家法律、行政法规、部门规章及相关规范性文件的规定，遵守平台交易秩序，不得损害其他用户权益。对任何涉嫌违反国家法律、行政法规、部门规章及相关规范性文件，或破坏平台交易秩序损害其他用户权益的行为，本平台用户规则已有规定的，适用本规则；本平台用户规则尚未规定的，平台可以遵照平等、公平、诚实信用等基本原则，结合用户行为危害程度，酌情制定临时性规则，在本平台用户规则修订并重新发布前予以适用。用户应同时遵守本规则在内的所有平台规则及其关联公司或各相关平台业务运营放所签订的各项协议。</p>
			<p style="text-align: left;margin-bottom: 10px">1-3平台鼓励用户遵守法律法规、平台用户规则、符合公序良俗的行为。用户使用本平台服务或通过本平台为他人提供服务时，应当遵循诚信原则，秉持城市，恪守承诺。平台用户在适用规则上一律平等。。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">2. 名词定义</p>
			<p style="text-align: left;margin-bottom: 10px">2-1平台是指网站及其客户端，以下称为“平台”。</p>
			<p style="text-align: left;margin-bottom: 10px">2-2用户是指平台各项服务使用者，包括本规则所称“车主”和“乘客”。</p>
			<p style="text-align: left;margin-bottom: 10px">2-3车主：包括出租车司机，私家车车主</p>
			<p style="text-align: left;margin-bottom: 10px">2-4乘客：包括下单乘客、下单乘客携同的乘车人、代叫车情形下的实际乘车人。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">3违规责任概述</p>
			<p style="text-align: left;margin-bottom: 10px">3-1用户违反本规则，平台可依据平台规则采取以下一种或多种违规处理措施，追究其违规责任：</p>
			<p style="text-align: left;margin-bottom: 10px">1) 警告：平台通过短信、客户端内消息等方式对用户违规行为进行提醒或警示</p>
			<p style="text-align: left;margin-bottom: 10px">2) 暂停服务：平台在一定时间内停止用户使用本平台服务，停止时间为七天内、15天、30天、永久无权限使用等。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 暂停服务至用户改正：平台停止用户使用本平台服务，直至用户改正其违规行为后，平台方能重新为其提供服务。</p>
			<p style="text-align: left;margin-bottom: 10px">4) 永久停止服务：违规严重则平台永久性的停止用户使用平台服务。</p>
			<p style="text-align: left;margin-bottom: 10px">5) 降低服务分或满意度。</p>
			<p style="text-align: left;margin-bottom: 10px">本条规则可单独适用，也可合并适用。</p>
			<p style="text-align: left;margin-bottom: 10px">3-2下单乘客携多人乘客，或代叫车情形下，应告知同高兴乘车人遵守平台规则，文明乘车。同行乘车人、实际乘车人违反本规则的，下单乘客应配合平台核实事实，提供同行乘车人、实际乘车人的信息，平台能查实实际违规人为平台注册用户的，平台将按本规则追究实际违规人的违规责任，同时平台可根据下单乘客在违规事件中的过错程度，在实际违规人应依本规则承担的违规责任范围内追究下单乘客的违规责任。</p>
			<p style="text-align: left;margin-bottom: 10px">3-3平台有权出于有效维护平台交易秩序，保护用户合法权益的目的，根据平台运营实际情况设定、调整违规处理措施。设定或调整后的违规处理措施在适用前应当公示或告知用户或通知用户。</p>
			<p style="text-align: left;margin-bottom: 10px">3-4本用户规则中的违规行为，无特殊说明的，仅包括用户使用平台服务过程中发生的行为。有特殊说明的，依照特殊说明。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">第二章平台通用规则</p>
			<p style="text-align: left;margin-bottom: 10px">1.本章“平台通用规则”适用于本平台叫车信息服务平台的用户</p>
			<p style="text-align: left;margin-bottom: 10px">2.用户违规行为及责任</p>
			<p style="text-align: left;margin-bottom: 10px">2-1用户涉嫌犯罪，或车主不符合法律法规规定的准入条件：</p>
			<p style="text-align: left;margin-bottom: 10px">1) 车主有犯罪记录或达到犯罪标准的，包括交通肇事犯罪、危险驾驶犯罪、暴力犯罪以及其他犯罪行为，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">2) 乘客通过平台乘车时犯罪或达到犯罪标准的，包括暴力犯罪及其其他犯罪行为，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">3)
				用户涉嫌违法犯罪或可能存在其他危害人身安全的行为，处于调查、侦查、审查起诉或审判阶段的，平台可暂停该用户使用平台全部或部分功能，待相关方出具最终意见后，平台根据行为性质采取相应措施。</p>
			<p style="text-align: left;margin-bottom: 10px">4) 车主吸毒或有毒瘾记录，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">5) 车主因酒后驾驶或有饮酒后驾驶记录，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">6) 车主最近连续3个记分周期内记满12分或有相关记录，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">2-2用户存在肢体冲突、性骚扰、侵犯或影响其他用户人身权利的行为，尚未到达犯罪标准的违规平台行为，依照本平台的惩罚规则进行处理：</p>
			<p style="text-align: left;margin-bottom: 10px">1)
				与其他用户发生个肢体冲突或在订单中存在其他暴力行为，造成人身伤害，造成他人轻微伤及以上伤情（含轻微伤），永久停止服务。造成他人轻微伤以下伤情及情节特别轻微的。</p>
			<p style="text-align: left;margin-bottom: 10px">2) 与其他用户发生轻微推搡，情节轻微，未造成人身伤害。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 裸露身体性器官、猥琐等行为。</p>
			<p style="text-align: left;margin-bottom: 10px">4) 触碰其他用户身体的，视情节轻重程度给予惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">5) 与其他用户沟通中使用轻浮、暧昧等不当语言的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">6) 以电话、信息等方式骚扰其他用户的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">7) 车内放置不雅物品、播放不雅音视频或实施其他不当行为骚扰用户的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">8) 限制其他用户人身自由，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">9) 以暴力、恐吓等手段威胁其他用户人身安全，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">10) 对其他用户进行追逐、拦截、寻衅滋事、辱骂、吵架或其他恶性行为，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">11)
				携带易燃、易爆、有毒、放射性、腐蚀性等危险物品，以及弩、匕首等管制器具，或携带剪刀、锤子等非管制危险具且未放置在后备箱的，永久停止服务。视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">12) 涉及邪教、迷信、民族歧视、民族仇恨、恐怖主义、极端主义等的不当行为，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">13) 偷拍、散布其他用户隐私或泄漏其他用户个人信息，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">14) 发生交通事故，致他人死亡，车主负同等以上责任，但尚未构成交通肇事犯罪的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">15) 发生交通事故，致他人重伤，车主负同等以上责任，但尚未构成交通肇事犯罪的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">16) 发生交通事故，致他人轻伤以下伤情，车主负同等以上责任的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">17) 发生交通事故，车主拒绝配合警方处理的，平台可暂停其账户提现功能，待车主配合警方处理完毕后恢复提现功能。</p>
			<p style="text-align: left;margin-bottom: 10px">18) 乘客抢夺车主方向盘、钥匙及其他危害车辆安全驾驶的行为，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">19) 车主患有妨碍安全驾驶机动车的疾病。</p>
			<p style="text-align: left;margin-bottom: 10px">20) 车主其他违反道路交通相关法律规定、影响驾驶安全的行为。</p>
			<p style="text-align: left;margin-bottom: 10px">21) 其他违反法律法规规定或政府主管部门命令禁止的行为。</p>
			<p style="text-align: left;margin-bottom: 10px">2-3用户存在侵犯其他用户财产权利的行为，尚未达到犯罪标准的违规行为如下：</p>
			<p style="text-align: left;margin-bottom: 10px">2) 盗取、骗取、勒索他人财物，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 有证据表明故意损毁其他用户财物。</p>
			<p style="text-align: left;margin-bottom: 10px">4)
				车主拾得其他用户财物后，归还时索要不合理费用，平台予以警告，警告后仍拒不归还的，平台停止对车主提供服务，并可以从违规车主账户扣取不合理费用返还乘客。</p>
			<p style="text-align: left;margin-bottom: 10px">2-4用户存在严重扰乱平台秩序的行为，应承担以下违规责任：</p>
			<p style="text-align: left;margin-bottom: 10px">1) 车主违反平台准入标准，盗用他人信息或以虚假信息注册。</p>
			<p style="text-align: left;margin-bottom: 10px">2) 非注册车主本人接单。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 使用非注册车辆接单。车主需再次提交车辆注册信息，待再次审核通过后开通服务。情节严重的，永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">4)
				车主以非法占有为目的，用虚构事实或隐瞒真相的方法，骗取平台或其他用户现金、代金券、服务分及其他财物，视情节轻重程度给予平台对应惩罚处理。上述行为给平台造成损失的，平台将进行索赔。</p>
			<p style="text-align: left;margin-bottom: 10px">5) 车主安装扰乱平台正常秩序的软件，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">6) 乘客拒不支付车费及其他已发生的费用，平台暂停其使用服务，直至支付。</p>
			<p style="text-align: left;margin-bottom: 10px">7) 用户通过组织群体聚集或发布不实言论等方式扰乱社会秩序。</p>
			<p style="text-align: left;margin-bottom: 10px">8) 违反法律规定，侵入、删除、修改、增加、干扰平台系统或其他影响平台系统正常运行的行为。</p>
			<p style="text-align: left;margin-bottom: 10px">9)
				用户应遵守在平台达成的各项协议，包括与平台接入的第三方服务商或者平台合作方签订的各项协议。用户违反协议约定的，平台可依照协议约定追究用户违约责任。</p>
			<p style="text-align: left;margin-bottom: 10px">10) 用户存在其他严重扰乱平台秩序的行为，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">2-5用户存在其他一般违规行为，应承担以下违规责任。用户存在一般违规行为，平台同时降低其服务分或信任值，服务分或信任值过低的用户，平台对其永久停止服务。</p>
			<p style="text-align: left;margin-bottom: 10px">1) 车主无正当理由取消或诱导乘客取消订单（符合平台规则中可取消情形的除外），警告后仍拒不改正。</p>
			<p style="text-align: left;margin-bottom: 10px">2) 用户议价或诱导对方线下交易，警告后仍拒不改正的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 乘客未上车，但产生账单，警告后仍拒不改正的，视情节轻重程度给予平台对应惩罚处理。平台可以从违规车主账户扣取不当所得费用返还乘客。</p>
			<p style="text-align: left;margin-bottom: 10px">4) 车主在行程开始前计费或乘客下车后未立即结束计费，警告后仍拒不改正的，并可以从违规车主账户扣取不当所得费用返还乘客。</p>
			<p style="text-align: left;margin-bottom: 10px">5)
				30天内车主被乘客投诉存在分心驾驶、通过路口不减速或其他危险驾驶行为的，予以警告，警告后仍拒不改正的，有证据证明车主存在危险驾驶行为的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">6)
				车主未按照导航指定路线、乘客指定路线或其他合理路线行驶，警告后仍拒不改正的，视情节轻重程度给予平台对应惩罚处理，并可以从违规车主账户扣取不当所得费用返还乘客。</p>
			<p style="text-align: left;margin-bottom: 10px">7) 车主违反平台规则，服务中途要求乘客下车，或下车地点不符合平台规定，警告户仍拒不改正的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">8) 车主不得要求乘客在可能严重危害乘客人身财产安全的情况下中途下车，车主违反本条规则，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">i. 下列情形属于可能严重危害乘客人身财产安全的情况：</p>
			<p style="text-align: left;margin-bottom: 10px">a) 高速路、高架桥、隧道或其他危险地点；</p>
			<p style="text-align: left;margin-bottom: 10px">b) 其他可能严重危害乘客人身财产安全的情况。</p>
			<p style="text-align: left;margin-bottom: 10px">ii. 乘客严重侵犯车主人身安全、车主要求乘客中途下车的不适用本条款。</p>
			<p style="text-align: left;margin-bottom: 10px">iii. 车主遇到下列情形，不适宜继续行驶的，可在保障乘客安全的情况下，与乘客携和那个、建议乘客改乘其他车辆：</p>
			<p style="text-align: left;margin-bottom: 10px">a)车主身体严重不适；</p>
			<p style="text-align: left;margin-bottom: 10px">b)车辆故障；</p>
			<p style="text-align: left;margin-bottom: 10px">c)发生较严重的交通事故；</p>
			<p style="text-align: left;margin-bottom: 10px">d)遭遇自然灾害或其他不可抗力；</p>
			<p style="text-align: left;margin-bottom: 10px">e)其他不适宜继续行驶的情形。</p>
			<p style="text-align: left;margin-bottom: 10px">9）车主收取未发生的费用，视情节轻重程度给予平台对应惩罚处理，并可以从违规车主账户扣取不当所得费用返还乘客。</p>
			<p style="text-align: left;margin-bottom: 10px">10）用户恶意投诉，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">11)乘客通过威胁、恐吓、差评等手段胁迫或指示车主作弊，或参与作弊，警告后仍拒不改正的，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">12）乘客发送虚假订单、恶意差评、恶意点击费用异议及其他扰乱平台秩序的行为，视情节轻重程度给予平台对应惩罚处理。</p>
			<p style="text-align: left;margin-bottom: 10px">13）用户资料含有违法违规、违反公序良俗、侵犯他人权利的内容，暂停服务至用户修改资料内容。</p>
			<p style="text-align: left;margin-bottom: 10px">14）用户亏损或损毁其他用户财产的，应按本规则明确规定承担责任，并赔偿受损用户的实际损失。下单乘客携多人乘车，同行乘车人亏损或损毁其他用户财物的，下单乘客就受损用户的实际损失与实际违规人承担连带赔偿责任。</p>
			<p style="text-align: left;margin-bottom: 10px">车主违反平台规则未赔偿乘客实际损失的，平台可暂停其账户提现功能至其赔偿完毕。</p>
			<p style="text-align: left;margin-bottom: 10px">乘客违反平台规则未赔偿车主实际损失的，平台可暂停服务至其赔偿完毕。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">第三章专项信息平台专属规则</p>
			<p style="text-align: left;margin-bottom: 10px">1.除“平台通用规则”以外，针对各专项信息服务平台交易行为特点，为更好保护合法用户合法权益，维护公开透明、公平有序的交易秩序，降低用户交易成本，提升用户体验，各专项信息服务平台可根据平台特点及实际使用情况分别制定其专属规则，并适用于使用相应信息服务平台的用户。各专项信息服务平台专属规则针对其专项服务有特殊规定的，但各专项信息平台专属规则不得违背本平台用户规则“总则”及“平台通用规则”确定的原则及理念。</p>
			<p style="text-align: left;margin-bottom: 10px">2.“出租车”平台为更好保护用户合法权益，提升用户体验，在“平台通用规则”基础上，可根据“出租车”平台实际情况制定《“出租车”平台用户专属规则》。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px"></p>
			<p style="text-align: left;margin-bottom: 10px">第四章违规行为处置</p>
			<p style="text-align: left;margin-bottom: 10px">1.违规处理原则</p>
			<p style="text-align: left;margin-bottom: 10px">1-1同一用户在同一订单中的单个行为，同时违反多条平台规则的，应承担数个违规责任中最高的违规责任。</p>
			<p style="text-align: left;margin-bottom: 10px">1-2同一用户在同一订单中存在多个违规行为的，每个行为分别确定违规责任，多个违规责任相加，合并执行。</p>
			<p style="text-align: left;margin-bottom: 10px">1-3用户违规后6个月内，再次违反本平台用户规则相同条款的视为累犯。累犯违规责任涉及警告或暂停服务的，平台可以按照本平台用户规则划分的违规责任级别，采取更高一级违规处理措施，直至采取组高级别违规处理措施。</p>
			<p style="text-align: left;margin-bottom: 10px">1) 正常的处理措施为警告的，累犯的处理措施为暂停服务7天。</p>
			<p style="text-align: left;margin-bottom: 10px">2)
				正常的处理措施为暂停服务的，累犯暂停服务的时间上升一个级别，即暂停服务7天以内（含）的，累犯暂停服务15天；暂停服务15天的，累犯暂停30天，以此类推直至暂停服务90天。</p>
			<p style="text-align: left;margin-bottom: 10px">3) 正常的处理措施为暂停服务90天的，累犯则升级为永久停止平台服务。</p>
			<p style="text-align: left;margin-bottom: 10px">4) 多次累犯的，可叠加多次升级直至永久停止平台服务。</p>
			<p style="text-align: left;margin-bottom: 10px">1-4针对其他用户违规行为采取的合理防卫措施，不视为违反用户规则。防卫措施超出防卫限度的，可以比照相应违规责任减轻处罚。</p>
			<p style="text-align: left;margin-bottom: 10px">2.违规行为认定</p>
			<p style="text-align: left;margin-bottom: 10px">2-1用户违反平台用户规则的，平台有权依照本规则规定的处理措施追究其违规责任。平台通过接收用户投诉及主动排查发现用户违规行为。</p>
			<p style="text-align: left;margin-bottom: 10px">2-2用户投诉其他用户违反平台规则，或被其他用户投诉的，应实事求是反映情况并提供适当证据。平台结合用户提供的证据、有关部门出具的相关材料、平台记录情况以及其他用户反馈等，判断其是否违反本用户规则，违规用户应依照规定承担相应的违规责任。</p>
			<p style="text-align: left;margin-bottom: 10px">3.违规行为申诉</p>
			<p style="text-align: left;margin-bottom: 10px">3-1被初步判定违规的用户，有权在平台给予的申诉期内进行申诉。用户申诉的，应配合提供适当证据以证明违规事实认定错误或违规责任处置过重。平台接到申诉后，再次依据本规则对违规事实进行核实。经核实违规行为不存在或违规责任处置不当的，平台予以取消/调整违规责任、恢复服务分货信任值。</p>
			<p style="text-align: left;margin-bottom: 10px">3-2如用户在平台给予的申诉期内未提出申诉，视为认可承担违规责任。未维护平台秩序的稳定性，超出平台申诉期后，违规责任不可被撤销，除非该违规责任对用户造成严重不利影响，且用户有确凿证据证明违规事实不存在。</p>
			<p style="text-align: left;font-size: 1.2rem;font-weight:600;margin-bottom: 10px">第五章附则</p>
			<p style="text-align: left;margin-bottom: 10px">1.本平台用户规则所称的“以上”“以下”“以内”，包括本数；所称的“不满”“超过”“以外”，不包括本数。</p>
		</div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery.min.js"></script>
</html>
